* {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}


body {
    background-color: #e3a68a;
    align-items: center;
    justify-content: center;
}

#container {
    width: 70vw;
    max-width: 70%;
    background-color: #f7eee6;
    height: 70vh;
    box-shadow: 0 0 5px 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    text-align: center;
    margin-top: 80px;
    margin-left: 200px;
}

.box {
    display: flex;
    width: 600px;
    max-width: 90%;
    height: auto;
    border-radius: 3px;
    padding: 10px;
    box-shadow: 0 0 5px 2px;
    flex-direction: column;
    text-align: center;
    background-color: white;
}

#answer-buttons {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 15px;
    padding: 10px;
    margin: 10px 0;
}

.button:hover {
    border-color: #f77e1b;
}

.hide {
    display: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #f77e1b;
}

#highscore-submit {
    justify-content: center;

}

ul {
    padding: 0px;
}

ul li {
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 2px;
}